body{
	background-color:white;
}

header{
	background-image: url("../res/header.png");
	height: 120px;
	border: 1px black solid; 	
	font-size: 24px;
	text-align: center;
}

#loginBar{
	background-image: url("../res/planche.jpg");
	padding: 5px;
	text-align: center;
}

nav{
	background-image: url("../res/planche.jpg");
	border-top: 1px white solid;
	border-bottom: 1px white solid;
	float: left;
	height: 662px;
	width: 200px;
}

section{
	background-color: #FFFFCC;
	border: 1px black solid;
	margin-left: 200px;
	padding: 10px;
}

li{
	list-style-type: none;
}

button{
	background-color: white;
}

#mon_canvas{
	background-color: white;
	border: 1px black solid;
	display: block;
    margin: 0 auto;
}

footer{
	text-align: center;
	background-image: url("../res/planche.jpg");
	padding: 10px;
}

<!-- CSS LUDO -->

#createButton{
	margin-bottom: 5px;
	margin-top: 15%;	
}

#connectButton{
	height: 200px;
}


.button:hover{
	cursor: pointer;
	background: url("../res/woodhover.png") no-repeat;
	color:white;
}

